.tasklist {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.tasklist h2 {
  display: inline-block;
}

.tasklist ul {
  padding-left: 10px;
  margin-top: 0px;
  list-style: none;
}

.tasklist li {
  margin-bottom: 10px;
}
